@using Microsoft.AspNetCore.Localization;
@inject IViewLocalizer Localizer;

@{
    var ReqCulture = Context.Features.Get<IRequestCultureFeature>();
    var Culture = ReqCulture.RequestCulture.Culture.Name;
    bool ISArabic = Culture == "ar-SA";
}

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"]</title>

@* Links get if Lang is Arabic *@
@if (ISArabic)
{
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
}

<link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" asp-append-version="true" />


<!-- Favicon -->
<link rel="shortcut icon" type="image/icon" href="~/assets/images/favicon.ico" />
<!-- Font Awesome -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<!-- Skills Circle CSS  -->
<link rel="stylesheet" type="text/css" href="https://unpkg.com/circlebars@1.0.3/dist/circle.css">

<!-- Fonts -->
<!-- Google Fonts Raleway -->
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,600,700" rel="stylesheet">
<!-- Google Fonts Open sans -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800" rel="stylesheet">

<link rel="stylesheet" href="~/bundle/css/bundle.min.css" asp-append-version="true" />

