@model changePasswordViewModel

@{
    ViewData["Title"] = "Log in";
}

<!-- Start login -->
<section id="mu-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-contact-area">
                    <!-- Title -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mu-title">
                                <h2>Chnage Password!</h2>
                            </div>
                        </div>
                    </div>


                    <!-- Start login Content -->
                    <div class="mu-contact-content">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="mu-contact-form-area">
                                    <div id="form-messages"></div>
                                    <form id="contact" class="mu-contact-form" asp-controller="Account" asp-action="ChnagePassword" method="post">
                                        <div asp-validation-summary="ModelOnly"></div>
                                        <div class="form-group">
                                            <span class="fa fa-envelope mu-contact-icon"></span>
                                            <input type="password" asp-for="CurrentPassword" class="form-control" placeholder="Enter Old Password" id="CurrentPassword" required>
                                            <span asp-validation-for="CurrentPassword"></span>
                                        </div>

                                        <div class="form-group">
                                            <span class="fa fa-pencil-square-o mu-contact-icon"></span>
                                            <input type="password" asp-for="NewPassword" class="form-control" placeholder="New Password" id="NewPassword" required></input>
                                            <span asp-validation-for="NewPassword"></span>
                                        </div>


                                        <div class="form-group">
                                            <span class="fa fa-pencil-square-o mu-contact-icon"></span>
                                            <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" id="ConfirmPassword" required></input>
                                            <span asp-validation-for="ConfirmPassword"></span>
                                        </div>

                                        <button type="submit" class="mu-send-msg-btn"><span>Send</span></button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End login Content -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End login -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}