
@{
    ViewData["Title"] = "About";
}
		<!-- Start Page Header area -->
	<div id="mu-page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mu-page-header-area">
						<h1 class="mu-page-header-title">About us</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Page Header area -->

	<!-- Start Breadcrumb -->
	<div id="mu-breadcrumb">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav aria-label="breadcrumb" role="navigation">
					  <ol class="breadcrumb mu-breadcrumb">
					    <li class="breadcrumb-item"><a href="#">Home</a></li>
					    <li class="breadcrumb-item active" aria-current="page">About Us</li>
					  </ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumb -->
	
	<!-- Start main content -->
	<main>
		<!-- Start About -->
		<section id="mu-about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mu-about-area">
							<!-- Title -->
							<div class="row">
								<div class="col-md-12">
									<div class="mu-title">
										<h2>Who we are</h2>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa cum sociis.</p>
									</div>
								</div>
							</div>
							<!-- Start Feature Content -->
							<div class="row">
								<div class="col-md-6">
									<div class="mu-about-left">
										<img class="lazyload" src="~/assets/images/about-us.jpg" alt="img">
									</div>
								</div>
								<div class="col-md-6">
									<div class="mu-about-right">
										<ul>
											<li>
												<h3>Our Mission</h3>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,</p>
											</li>
											<li>
												<h3>Our Vision</h3>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,</p>
											</li>
											<li>
												<h3>Our Valuse</h3>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- End Feature Content -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End About -->

		<!-- Start Skills -->
		<section id="mu-skills">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mu-skills-area">
							<!-- Title -->
							<div class="row">
								<div class="col-md-12">
									<div class="mu-title">
										<h2>Our Working Skill</h2>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa cum sociis.</p>
									</div>
								</div>
							</div>
							<!-- Start Skills Content -->
							<div class="row">
								<div class="col-md-12">
									<div class="mu-skills-content">
										<div class="row">
											<!-- start single item -->
											<div class="col-md-3">
												<div class="mu-single-skills">
													<div class="mu-skills-circle">
														<div id="circle-1" class="mu-circle" data-circle-dialWidth=15>
														    <div class="loader-bg">
														        <div class="text">00:00:00</div>
														    </div>
														</div>
													</div>
													<h3>Web Design</h3>
													<p>Lorem ipsum dolor sit amet, con sectetuer adipiscing elitamin.</p>
												</div>
											</div>
											<!-- End single item -->
											<!-- start single item -->
											<div class="col-md-3">
												<div class="mu-single-skills">
													<div class="mu-skills-circle">
														<div id="circle-2" class="mu-circle" data-circle-dialWidth=15>
														    <div class="loader-bg">
														        <div class="text">00:00:00</div>
														    </div>
														</div>
													</div>
													<h3>Mobile Development</h3>
													<p>Lorem ipsum dolor sit amet, con sectetuer adipiscing elitamin.</p>
												</div>
											</div>
											<!-- End single item -->
											<!-- start single item -->
											<div class="col-md-3">
												<div class="mu-single-skills">
													<div class="mu-skills-circle">
														<div id="circle-3" class="mu-circle" data-circle-dialWidth=15>
														    <div class="loader-bg">
														        <div class="text">00:00:00</div>
														    </div>
														</div>
													</div>
													<h3>E-commerce</h3>
													<p>Lorem ipsum dolor sit amet, con sectetuer adipiscing elitamin.</p>
												</div>
											</div>
											<!-- End single item -->
											<!-- start single item -->
											<div class="col-md-3">
												<div class="mu-single-skills">
													<div class="mu-skills-circle">
														<div id="circle-4" class="mu-circle" data-circle-dialWidth=15>
														    <div class="loader-bg">
														        <div class="text">00:00:00</div>
														    </div>
														</div>
													</div>
													<h3>Online Marketing</h3>
													<p>Lorem ipsum dolor sit amet, con sectetuer adipiscing elitamin.</p>
												</div>
											</div>
											<!-- End single item -->
										</div>
									</div>
								</div>
								
							</div>
							<!-- End Skills Content -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Skills -->

		<!-- Start Team -->
		<section id="mu-team">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mu-team-area">
							<!-- Title -->
							<div class="row">
								<div class="col-md-12">
									<div class="mu-title">
										<h2>Creative team</h2>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa cum sociis.</p>
									</div>
								</div>
							</div>
							<!-- Start Team Content -->
							<div class="row">
								<div class="col-md-12">
									<div class="mu-team-content">
										<div class="row">
											<!-- start single item -->
											<div class="col-md-6">
												<div class="mu-single-team">
													<div class="mu-single-team-img">
														<img src="~/assets/images/team-member.jpg" alt="img">
													</div>
													<div class="mu-single-team-content">
														<h3>Hannah Torres</h3>
														<span>Founder</span>
														<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
														<ul class="mu-team-social">
															<li><a href="#"><i class="fa fa-facebook"></i></a></li>
															<li><a href="#"><i class="fa fa-twitter"></i></a></li>
															<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
															<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
											<!-- End single item -->
											<!-- start single item -->
											<div class="col-md-6">
												<div class="mu-single-team">
													<div class="mu-single-team-img">
														<img src="~/assets/images/team-member.jpg" alt="img">
													</div>
													<div class="mu-single-team-content">
														<h3>Hannah Torres</h3>
														<span>Founder</span>
														<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
														<ul class="mu-team-social">
															<li><a href="#"><i class="fa fa-facebook"></i></a></li>
															<li><a href="#"><i class="fa fa-twitter"></i></a></li>
															<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
															<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
											<!-- End single item -->
											<!-- start single item -->
											<div class="col-md-6">
												<div class="mu-single-team">
													<div class="mu-single-team-img">
														<img src="~/assets/images/team-member.jpg" alt="img">
													</div>
													<div class="mu-single-team-content">
														<h3>Hannah Torres</h3>
														<span>Founder</span>
														<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
														<ul class="mu-team-social">
															<li><a href="#"><i class="fa fa-facebook"></i></a></li>
															<li><a href="#"><i class="fa fa-twitter"></i></a></li>
															<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
															<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
											<!-- End single item -->
											<!-- start single item -->
											<div class="col-md-6">
												<div class="mu-single-team">
													<div class="mu-single-team-img">
														<img src="~/assets/images/team-member.jpg" alt="img">
													</div>
													<div class="mu-single-team-content">
														<h3>Hannah Torres</h3>
														<span>Founder</span>
														<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
														<ul class="mu-team-social">
															<li><a href="#"><i class="fa fa-facebook"></i></a></li>
															<li><a href="#"><i class="fa fa-twitter"></i></a></li>
															<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
															<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
														</ul>
													</div>
												</div>
											</div>
											<!-- End single item -->
										</div>
									</div>
								</div>
								
							</div>
							<!-- End Team Content -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Team -->

		<!-- Start Clients -->
		<div id="mu-clients">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mu-clients-area">

							<!-- Start Clients brand logo -->
							<div class="mu-clients-slider">

								<div class="mu-clients-single">
									<img src="~/assets/images/client-brand-1.jpg" alt="Brand Logo">
								</div>

								<div class="mu-clients-single">
									<img src="~/assets/images/client-brand-2.jpg" alt="Brand Logo">
								</div>

								<div class="mu-clients-single">
									<img src="~/assets/images/client-brand-3.jpg" alt="Brand Logo">
								</div>

								<div class="mu-clients-single">
									<img src="~/assets/images/client-brand-4.jpg" alt="Brand Logo">
								</div>

								<div class="mu-clients-single">
									<img src="~/assets/images/client-brand-5.jpg" alt="Brand Logo">
								</div>

								<div class="mu-clients-single">
									<img src="~/assets/images/client-brand-6.jpg" alt="Brand Logo">
								</div>

								<div class="mu-clients-single">
									<img src="~/assets/images/client-brand-6.jpg" alt="Brand Logo">
								</div>
							</div>
							<!-- End Clients brand logo -->

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Clients -->

	</main>
	
	<!-- End main content -->	
			
		

