# Visual Studio & Build
[Bb]in/
[Oo]bj/
.vs/
.vscode/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# ASP.NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# User Uploads
wwwroot/Uploads/*
!wwwroot/Uploads/.gitkeep
