@model InputUpolad

@{
    Layout = "_Layout";
    ViewData["Title"] = "Create upload";
}


<div style="float:right">
    <a asp-action="Index" class="btn btn-outline-primary"> Back To List </a>
</div>

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-action="Create" enctype="multipart/form-data">


                <div asp-validation-summary="All" class="text-danger"></div>


                <div class="input-group">
                    <input asp-for="File" type="file" class="form-control" id="customFile" />
                </div>
                <br />
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-primary ">Upload</button> 
                    
                </div>
            </form>
        </section>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>


}