@using Microsoft.AspNetCore.Localization;
@inject IViewLocalizer Localizer;

@* Convert Pages From [ar] to [en] or Reverse According to language*@
@{
    var ReqCulture = Context.Features.Get<IRequestCultureFeature>();
    var Culture = ReqCulture.RequestCulture.Culture.Name;
    bool ISArabic = Culture == "ar-SA";
}

<!DOCTYPE html>
<html lang="@(ISArabic ? "ar" : "en")">
<head>

    <partial name="Layout/_Header" />
    
</head>
<body dir="@(ISArabic ? "rtl" : "ltr")">

    <!-- Start Preloader -->
    <div id="mu-preloader">
        <div id="mu-status"></div>
    </div>
    <!-- End Preloader -->

    <partial name="Layout/_Navbar" />

    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="Layout/_footer" />

    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>

    <script>
        $(document).ready(function(){
            lazyload();
        });

        $(window).on('load', function() {
            $('#mu-status').fadeOut();
            $('#mu-preloader').delay(300).fadeOut('slow');
        });
    </script>
</body>
</html>
